*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    margin:20px auto;
    width:1000px;

}
.row,.game-info {
    display:flex;
}
hr{
    border: 1px solid #EEE
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}

.game-info .category span{
   text-transform: capitalize;
   color: #E91E63;
   font-weight: bold;
}


.hangMan-draw{
    flex: 1;
    background-color: #F8F8f8;
    padding: 20px;
    height: 324px;

}
.hangMan-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}
.hangMan-draw.wrong-1 .the-draw{
    display: block ;
}
.hangMan-draw.wrong-2 .the-stand::before{
    display: block ;
}
.hangMan-draw.wrong-3 .the-hang{
    display: block ;
}
.hangMan-draw.wrong-4 .the-rope{
    display: block ;
}
.hangMan-draw.wrong-5 .the-man .head{
    display: block ;
}
.hangMan-draw.wrong-6 .the-man .body{
    display: block ;
}
.hangMan-draw.wrong-7 .the-man .hands{
    display: block ;
}
.hangMan-draw.wrong-8 .the-man .legs{
    display: block ;
}
.hangMan-draw .the-stand:before{
    content: "";
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 4px;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangMan-draw .the-hang:before{
    content: "";
    position: absolute;
    background-color: #222;
    width: 100px;
    height: 4px;
    left: 30px;
    top: 15px;
    margin-left: -2px;
}
.hangMan-draw .the-hang:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 130px;
    top: 15px;
    margin-left: -2px;
    
}
.hangMan-draw .the-hang{
    display: none;
}
.hangMan-draw .the-rope{
    width: 70px;
    height:70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}
.hangMan-draw .the-man .head{
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top: 55px;
    display: none;

}
.hangMan-draw .the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height:120px;
    left: 128px;
    top: 102px;
    display: none;

}
.hangMan-draw .the-man .hands:before,
.hangMan-draw .the-man .hands:after,
.hangMan-draw .the-man .legs:before,
.hangMan-draw .the-man .legs:after{
    content: "";
    position: absolute;
    background-color: #222;
    top: 150px;
    height: 4px;
    width: 50px;

}
.hangMan-draw .the-man .hands:before{
    left: 85px;
    transform: rotate(147deg);
}
.hangMan-draw .the-man .hands:after{
    left: 125px;
    transform: rotate(-147deg);
}.hangMan-draw .the-man .hands{
    display: none;
}

.hangMan-draw .the-man .legs:after{
    left: 124px;
    top: 232px;
    transform: rotate(-142deg);
}
.hangMan-draw .the-man .legs:before{
    left: 85px;
    top: 233px;
    transform: rotate(140deg);
}.hangMan-draw .the-man .legs{
    display: none
}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.letters.finished{
    pointer-events: none;
    
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color:#FFF;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .3s;
}
.letters .letter-box:hover{
    background-color: #029687c5;
}
.letter-box.clicked{
    background-color: #55555581;
    cursor: none
}
.letter-box.clicked:hover{
    background-color: #55555581;
}
.letters-guess{
    margin: 10px auto;
    background-color: #F8F8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height:104px;;
}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24p;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FDFDFD;
    border-bottom: 3px solid #222;
    transition: .3s

}
.letters-guess span.has-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.has-space::before{
    content: "";
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}


.poupup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ab1010b8;
}
.poupup span{
    display: block;
    position: absolute;
    left: 38%;
    top: 50%;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #E91E63;
    color: #CCC;
}